<h1>Listing questions</h1>

<table>
  <tr>
    <th>Question</th>
    <th>Posted by</th>
    <th>Posted</th>
    <th>Yes Responses</th>
    <th>No Responses</th>
    <th>Consensus</th>
    <th>Your Answer</th>
    <th>Actions</th>
  </tr>

<%= render @questions %>
  
</table>